html {
  background-color: white;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

#orderContainer {
  background-color: #eeeeee;
  padding: 0.5rem;
  margin: 2rem 4rem 0rem 2rem;
  font-size: 1.5rem;
  vertical-align: middle;
}

#header {
  text-align: center;
  font-size: 3rem;
}

ul.header {
  list-style: none;
  margin-bottom: 1rem;
}

li.header {
  display: inline;
  vertical-align: middle;
  font-weight: bold;
}

label {
  padding-left: 2.6rem;
  font-size: 2rem;
  vertical-align: middle;
}

input {
  height: 2rem;
  width: 10%;
  font-size: 2rem;
  position: relative;
  top: 0.3rem;
}

select {
  height: 2.5rem;
  font-size: 1rem important;
  border-radius: 5px;
}

#addButton {
  margin-left: 2.5rem;
  height: 2.5rem;
  width: 6rem;
  border-radius: 5px;
  background-color: #c5fa75;
  border: 1px solid #4caf50;
  font-size: 1rem;
  font-family: inherit;
}

a {
  margin-right: 2rem;
}

.order,
option.order {
  font-size: 1.5rem;
  height: 2rem;
  position: relative;
  top: -0.1rem;
}

label.order {
  margin-left: 16rem;
}

#filter,
#order {
  font-size: 1rem;
  background-color: #eeeeee;
}

.bookContainer {
  font-size: 1.5rem;
  background: linear-gradient(135deg, #274156, #1c6e8c);
  color: white;
  margin-left: 2rem;
  width: 29.4%;
  display: inline-table;
  box-sizing: border-box;
  list-style: none;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

li.info {
  margin-bottom: 1rem;
}

img.status {
  position: relative;
  top: 0.5rem;
  margin-right: 1rem;
}

#delete {
  text-align: right;
  margin-left: 89.5%;
  box-sizing: border-box;
}
